<form action="/farms" method="post">

    <label for="name">Farm Name</label>
    <input type="text" id="name" name="name" placeholder="farm name">

    <label for="city">City</label>
    <input type="text" id="city" name="city" placeholder="city">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="email">

    <input type="submit" value="Add">    
</form>
<a href="/farms"><button>Home</button></a>