<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All products</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <h1><%=category%> Products!</h1>
    <ul>
        <% for(let product of products) { %>
            <li><a href="/product/<%=product._id %>"><%= product.name %> </a></li>
        <% } %>  
    </ul>
    <a href="/product/new"><button>Add new</button></a>
    <% if(category!=='All'){ %> 
    <a href="/products"><button>Home</button></a>
    <% } %> 
    <a href="/farms"><button>Farms</button></a>   
</body>
</html>